:root{
    --grid-column-count: 2;
    --pixel-size: 20px;
    --sketchpad-size: 700px;
}

#sketch-space{
    display: grid;
    /* flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content:space-around;
    align-items: flex-start; */
    grid-template-columns: repeat(var(--grid-column-count), 1fr) ;
    width: var(--sketchpad-size);
    height: var(--sketchpad-size);
    background-color: purple;
}

.pixel{
    /* display: flex;
    flex-grow: 0; */
    background-color: aqua;
    color: red;
    /* width: var(--pixel-size);
    height: var(--pixel-size); */
    border: 1px red solid;

} 