:root{
    --grid-column-row-count: 5;
    --pixel-size: 20px;
    --sketchpad-size: 700px;
}

#sketch-space{
    display: grid;
    grid-template-columns: repeat(var(--grid-column-row-count), 1fr) ;
    grid-template-rows: repeat(var(--grid-column-row-count), 1fr) ;
    width: var(--sketchpad-size);
    height: var(--sketchpad-size);
    background-color: purple;
}

.pixel{
    background-color: aqua;
    color: red;
    border: 1px blue solid;

} 
.pixel:hover{
    transform: scale(1.01);
}
.btn-grid-size-popup{
    color: red;
}
.btn-grid-size-popup:hover{
    transform:scale(1.1);
}